#page-dashboard .schedule-table .highlight-row td {
	background-color: #80FFFF;
}

#page-dashboard .clock-container {
}

#page-dashboard .clock-container  .txt {
	font-family: monospace;
	font-size: 40px;
	font-weight: bold;
	color: rgb(255, 0, 0);
}