#page-home .live-in-txt {
	text-align: center;
	font-size: 60px;
}

#page-home .promo-vid-container {
	text-align: left;
	position: relative;
}

#page-home .application-button-outer-container {
	text-align: center;
	display: block;
}

#page-home .application-button-container {
	text-align: center;
	display: none;
	width: 100%;
	clear: both;
}

#page-home .application-button-container .apply-now-btn {
	margin-bottom: 10px;
}

#page-home .application-button-animation-padding {
	height: 0;
}

 /*
 *  Countdown timer
 */
#page-home .countdown-timer-container {
	text-align: center;
}

/* this is necessary for animation to work as this means top margin on text is contained in div and does not overhang */
#page-home .countdown-timer-outer-container {
	display: inline-block;
	width: 100%;
	clear: both;
}

#page-home .countdown-timer-container .secondary-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	overflow: hidden;
	position: relative;
}

#page-home .countdown-timer-container .scale-container {
	display: block;
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
}

#page-home .countdown-timer {
	display: inline-block;
	width: auto;
}