#page-map .map-canvas {
	width: 100%;
	height: 500px;
	background-color: rgb(240, 240, 240);
}

#page-map .choose-station-select {
	width: 300px;
}

#page-map .map-canvas {
	margin-top: 10px;
	margin-bottom: 5px;
	border-style: solid;
	border-color: #CC0052;
	border-width: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#page-map .logo-row {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	border-style: solid;
	border-color: #CC0052;
	border-width: 2px;
	background-color: #ECA3C1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#page-map .logo-row .logo {
	display: inline-block;
	margin: 2px;
	cursor: pointer;
	
	transition: transform 0.2s;
	-webkit-transition: -webkit-transform 0.2s;
	
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}

#page-map .logo-row .logo .logo-img {
	width: 50px;
	height: 50px;
}

#page-map .logo-row .logo:hover {
	-webkit-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
}

#page-map .logo-row .logo[data-clickedstate] {
	-webkit-transform: rotate(0deg) scale(0.85) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(0.85) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(0.85) skew(0deg) translate(0px);
}

#page-map .info-window {
	text-align: center;
	font-size: 30px;
	padding: 0 5px;
}