/*
 *
 *  Any custom CSS thats exists outside the scope of 
 *  BootSrap and other libaries used to build the site
 *  
 */
 
/* necessary for footer to work */
body, html {
	height: 100%;
}

/*
* Nav bar
*/

#main-navbar .action-buttons {
	display: inline-block;
}

/* recaptcha fix */
iframe[src="about:blank"] {
	display: none;
}

/*
* Main Header Logo
*/
#main-logo-header .main-logo-container {
	background-color: #ecf0f1;
	background-image: url("../img/nuffield_banner.jpg");
	background-repeat: no-repeat;
	background-position: 20% 60%;
	padding: 50px;
	margin-bottom: 30px;
	text-align: center;
}

@media (max-width: 767px) {
	#main-logo-header .main-logo-container {
		padding: 40px;
	}
}

@media (max-width: 650px) {
	#main-logo-header .main-logo-container {
		padding: 30px;
	}
}


#main-logo-header .main-logo-container img {
	max-width: 100%; /* make image automatically resize down */
	max-height: 100%;
}

/*
*   Part of the social media bar on the pages  
*/

#social-bar {
    position: relative;
    margin-top: -50px;
}

#social-bar .white-panel {
    text-align: center;
    background-color: #fff;
    border: 1px solid #dadada;
    padding: 5px;
    margin-bottom: 20px;
    color: #333;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}

#social-bar .social-buttons {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

#social-bar .social-buttons li {
    display: inline-block;
    padding: 5px 8px;
    line-height: 1;
}

.scaled-iframe-container {
	position: relative;
}

.scaled-iframe-container .ratio {
	display: block;
	width: 100%;
	height: auto;
	visibility: hidden;
}

.scaled-iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
*   Mark out the content so the footer can be flushed
*   agsint the bottom of the page 
*/

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -100px;
	padding-bottom: 20px;
}

#push, #footer {
    height: 100px;
}

/*
*   Footer 
*/
#footer {
    clear:both;
    margin: 0; /* this cannot have a margin */
    padding: 25px 0 0 0;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
	overflow: auto;
} 

#footer p {
    margin-bottom: 0;
    color: #777;
}

#footer .footer-links {
    margin: 10px 0 0 0;
	padding: 0;
}

#footer .footer-links li {
    display: inline;
    padding: 0 2px;
}